h1{
    background-color: blueviolet;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: black;
    }
h2 {
    background-color: chartreuse;
    float: inline-end;
    text-shadow: 0ex;
    box-decoration-break: inherit;
    writing-mode: sideways-rl;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}